
<div *ngIf="pm != ''" style="height: 100vh;">
  <div class="container">
    <div class="container__btn-back">
      <button mat-button (click)="onMain()" style="font-size: 24px;">←ко всем дипломам</button>
    </div>
    <div class="container__main">
      <div class="container__info">
        <div style="width: 100%;padding: 3%;">
          <p> Приказ: <strong>{{diplomOrder}}</strong></p>
          <p> Специаьность: <strong>{{specialty}}</strong></p>
          <p> Студент: <strong>{{diplom.Fio}}</strong></p>
          <p> Руководитель: <strong>{{pm}}</strong></p>
          <p> Рецензент: <strong>{{reviewer}}</strong></p>
          <p> Нормоконтролер: <strong>{{normcontroller}}</strong></p>
          <p> Председатель: <strong>{{chairman}}</strong></p>
          <p> Комиссия: <strong>{{commission}}</strong></p>
          <p> Комментарий: <strong>{{diplom.CommissionComment}}</strong></p>
        </div>
      </div>
      <div class="container__spinner">
        <button *ngIf="!this.timer" mat-raised-button color="primary" (click)="start()">Начало</button>
        <button *ngIf="this.timer" mat-raised-button color="primary" (click)="stop()">Сброс</button>
        <mat-form-field *ngIf="!this.timer" class="example-full-width">
          <mat-label>Длительность</mat-label>
          <input matInput type="number" [(ngModel)]="time">
        </mat-form-field>
        <div class="timer">
          <p style="color:{{color}}">{{timerText}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="pm === ''" style="width: 100%; height: 100%; display:flex; justify-content: center; align-items: center;">
  <mat-spinner></mat-spinner>
</div>
