<div style="height: 100vh;">
  <div class="container">
    <div class="container__btn-back">
      <button mat-button (click)="onMain()" style="font-size: 24px;">←ко всем дипломам</button>
    </div>
    <div class="container__main">
      <div class="container__info">
        <div style="width: 100%;padding: 3%;">
          <p> Студент: <strong>{{Fio}}</strong></p>
          <p> Тема: <strong>{{Topic}}</strong></p>
        </div>
      </div>
      <div class="container__spinner">
        <div class="timer">
          <p style="color:{{color}}">{{timerText}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
