@import '~@angular/material/prebuilt-themes/indigo-pink.css';
a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  color: white;
}
li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin: 0; /* Отступ слева в браузере IE и Opera */
  padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.overlay-container {
  position: absolute;
  top: 0;
  right: 24%;
}

html, body {
  height: 100%;
  margin: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
